apiVersion: v2
name: directus
type: application

description: |
  A Helm chart for installing Directus on Kubernetes.
  Directus is a real-time API and App dashboard for managing SQL database content.

home: https://directus.io/

sources:
  - https://github.com/directus-labs/helm-chart/tree/master/charts/directus
  - https://github.com/directus/directus

icon: https://avatars.githubusercontent.com/u/79210894

maintainers:
  - name: mykhailo-sindieiev
    email: mykhailo_sindieiev@owasp.org
    url: https://github.com/directus-labs/helm-chart

version: 2.0.7
appVersion: "11.13.0"
